**/dist
**/coverage
node_modules/
**/logs
**/obj
.vs/
lerna-debug.log
**/*.orig
Exports/generated/**/*.g.ts
**/*.log
**/package-lock.json
*.user
**/packages
**/bin
**/junit.xml
junit/**/*.*
**/tmp
**/userData
**/.idea
